<div class="landing">
  <div class="text">
    <h1 class="p-5 bg-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in sem justo. Maecenas tincidunt enim at ligula gravida, nec elementum ante aliquam. </h1>
  </div>
</div>