// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment_form{
  padding: 2rem;
  width: 50%;
}

#comments_section{
  width: 50%
}