<div class="center_form p-4">
  <%= form_tag(products_path, role: "search", method: :get) do |f| %>
    <div class="form-group">
      <%= text_field_tag :term, params[:term], class: "form-control", placeholder: "Search for products ... " %>
    </div>
  <% end %>
</div>
