<div class="jumbotron center">
  <h1>Oops :)</h1>
  <p>Something went wrong...</p><br>

  <%= link_to "Profile", user_profiles_path(current_user.id), class: "btn btn-primary"  %>
  <%= link_to "Products", products_path, class: "btn btn-primary"  %>
</div>
