  <!-- Site footer -->
    <footer class="site-footer ">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in sem justo. Maecenas tincidunt enim at ligula gravida, nec elementum ante aliquam. Morbi libero mauris, aliquam in tempor in, sodales gravida ex. Sed ut accumsan justo. Duis sem lorem, consectetur quis posuere sed, auctor non mauris. Nunc eleifend purus a ultricies faucibus. </p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li>Clothing</li>
              <li>Watch</li>
              <li>Shoes</li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <li> <%= link_to "Products", products_path  %> </li>
              <li> <%= link_to "Cart", carts_path  %> </li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container center">
        <div class="row center">
          <div class="col-md-8 col-sm-6 col-xs-12 center">
            <p class="copyright-text center">Copyright &copy; 2020 All Rights Reserved by 
         <a href="#">Devsinc</a>.
            </p>
          </div>
        </div>
      </div>
</footer>